body {
    background-color: linear-gradient
    (90deg, rgb(231, 230, 235) 0%, 
    rgb(218, 187, 16) 35%,
     rgb(160, 89, 23) 100%);

    background-image: url(mix.jpg);

    background-size:cover;

    background-repeat: no-repeat;

    background-position: center;
    
}

p {
    
    color: #5e3f09;
    width: 1000px;

    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}
ul{
	float: left;
	list-style-type: none;
	margin-top: 25px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #412a03;
	padding: 5px 20px;
	border: 2px solid;
	transition: 0.6s;
	margin: 10px;
    
   
  }